* {
  text-align: center; 
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  margin: 0;
}
header {
  width: 300px;
  margin: auto;
}

.attribution {
  font-size: 11px;
  text-align: center;
  bottom: 0;
  margin: auto;
  text-align: center;
  width: 100%;
  padding-top: 150px;
  padding-bottom: 30px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

h1 {
  color: gray;
}

.dark-btn {
  background: linear-gradient(120deg, #A0A7F1,#6D71DF);
  border: 1px solid rgba(0, 0, 0, 0)
}

.btn {
  width: 200px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  border-radius: 10px;
  text-align: center;
  line-height: 40px;
  color: white;
  letter-spacing: 0.1rem;
  font-weight: 700;
}

.light-btn {
  background-color: white;
  color: #6D71DF;
  border: 1px solid rgba(0, 0, 0, 0)
}

.btn:hover {
  cursor: pointer;
}

.light-btn:hover,
.light-btn:focus {
  background: rgba(0,0,0,0);
  color: white;
  border: 1px solid white;
}

.dark-btn:hover,
.dark-btn:focus {
  background: rgba(0, 0, 0, 0);
  color: #6D71DF;
  border: 1px solid #6D71DF;
}

p {
  font-size: 15px;
  font-weight: 700;
}

.price-annually {
  font-size: 2.5rem;
  font-weight: 700;
}

.price-monthly {
  font-size: 2.5rem;
  font-weight: 700;
}

.hide {
  display: none;
}

.panel-one {
  box-shadow: -20px 20px 80px  rgba(111,115,229, .2);
  border-radius: 10px 0 0 10px;
}

.panel-three {
  box-shadow: 20px 20px 80px  rgba(111,115,229, .2);
  border-radius: 0px 10px 10px 0px;
}

.pricing-panel {
  width: 250px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  height: 350px;
  padding-bottom: 50px;
  padding-top: 20px;
  margin-bottom: 50px;
}

.panel-two {
  background-image: linear-gradient(120deg, #A0A7F1,#6D71DF);
  color: white;
  padding-bottom: 70px;
  border-radius: 10px;
  padding-top: 50px;
  padding-bottom: 80px;
}

.pricing-panel > p {
  border-bottom: 1px solid lightgray;
  width: 65%;
  margin: auto;
  padding: 15px;
}





.main-title {
  margin-bottom: 50px;
  margin-top: 80px;
}

html, body {
  height: 100%;
  min-height: 100px;
}

body {
  background-image: 
  url(/images/bg-top.svg),
  url(/images/bg-bottom.svg);
  background-position:
    top right, /* this positions the first image */
    bottom left; /* this positions the second image */
  background-repeat:
    no-repeat; /* this applies to both images */
  background-color: rgb(247,247,255);
  background-size: 430px, 430px;

}




.pricing {
  margin: auto;
  white-space: nowrap;
}



.gradient {
  background-image: linear-gradient(120deg, #A0A7F1,#6D71DF);
}

.switch-label {
  display: inline-block;
  margin: 0 10px;
  transform: translateY(3px);
  color: lightslategrey;
}



/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-bottom: 40px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #8E93EA;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:active {
  background-color: #C6C7F4;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #8E93EA;
}


/*
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
*/

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round::before {
  border-radius: 50%;
}

@media(max-width: 750px) {
  .pricing-panel {
    display: block;
  }

  .panel-one {
    padding-bottom: 50px;
    padding-top: 20px;
    box-shadow: -20px 20px 80px  rgba(111,115,229, .2);
    border-radius: 10px;
  }

  .panel-two {
    box-shadow: -20px 20px 80px  rgba(111,115,229, .2);
  }

  .panel-three {
    box-shadow: -20px 20px 80px  rgba(111,115,229, .2);
    border-radius: 10px;
  }

  body {
    background-image: url(/images/bg-top.svg);
    background-position: top right; /* this positions the first image */
    background-repeat: no-repeat; /* this applies to both images */
    background-color: rgb(247,247,255);
    background-size: 430px, 430px;
  }
}